.title{
color:darkblue;
font-family: 'old republic', 'times new roman';
}
body{
background-color:lightgrey;
}
.mainpage{
margin-top:45px;
}
.center-image{
margin-left: auto;
margin-right:auto;
}
.avslogo{
width:30px;
height:auto;
display:inline !important;
}

@media only screen and (min-width : 768px) {
.navbar-nav{
width: 60%;
    justify-content: space-between;
    display: flex;
}
	}